/* Message Container */
.message__container {
    margin: 0 0 20px;
    padding: 0;
}

.message__ok {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
    padding: 10px;
}

.message__ng {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    padding: 10px;
}

.message__ng ul {
    list-style: disc;
    padding-left: 20px;
    margin: 0;
}

/* Form Container */
.form__container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

.form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.form__group {
    width: 60%;
    display: flex;
    gap: 10px;
}

.form__group input {
    padding: 5px 15px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px 0 rgba(68, 68, 68, 0.218);
    border-radius: 4px;
    font-size: 12px;
    width: 100%;
    height: 100%;
    border: none;

}

.form__group input:focus {
    outline: none;
    border-color: #007bff;
}

.form__button-submit {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    box-shadow: 0 4px 10px 0 rgba(68, 68, 68, 0.218);
}

.form__button-submit:hover {
    opacity: 0.8;
}

/* Todo Container */
.category__container {
    margin: 10px auto;
    padding: 10px;
    max-width: 1200px;
}

.category__table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
}

.table__col--category {
    width: 80%;
}

.table__col--update {
    width: 10%;
}

.table__col--delete {
    width: 10%;
}

.category__table--row {
    text-align: left;
}

.category__table--row:first-of-type {
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.category__table--header {
    padding: 10px;
    height: 50px;
    font-size: 12px;
    font-weight: bold;
}

.category__table--cell {
    padding: 7px;
    vertical-align: middle;
    height: 60px;
}

.update-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
}

.update-form__item {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding: 10px 10px;
    gap: 10px;
    box-shadow: 0 4px 10px 0 rgba(68, 68, 68, 0.218);
}

.form__item--category {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 11px;
}

.form__item--category input {
    width: 70%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form__button {
    text-align: right;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-form__button-submit {
    background-color: #0000ff;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 10px 0 rgba(68, 68, 68, 0.218);
    font-size: 11px;
    height: 80%;
    width: 80%;
}

.update-form__button-submit:hover {
    opacity: 0.8;
}

.delete-form__button-submit {
    background-color: #ff0000;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 10px 0 rgba(68, 68, 68, 0.218);
    font-size: 11px;
    height: 80%;
    width: 80%;
}

.delete-form__button-submit:hover {
    opacity: 0.8;
}

/* ページネーション設定 */
svg.w-5.h-5,
svg.w-5.h-5 path {
    width: 20px;
    height: 20px;
    fill: #100e0e92;
    stroke: #100e0e92;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: none;
    stroke-dashoffset: 0;
}

nav[role="navigation"] div,
nav[role="navigation"] span,
nav[role="navigation"] a,
nav[role="navigation"] p {
    font-size: 10px;
    text-align: center;
    margin: 0 auto;
    color: #100e0e92;
}

nav[role="navigation"] {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    transform: none;
    text-align: center;
}