/* Header Styles */
.header {
    background-color: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw
}

.header__inner {
    width: 80%;
    margin: 0;
    padding: 0;
}

.header__logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header__logo:hover {
    color: #007bff;
}

.header__nav {
    background-color: #000;
    padding: 20px;
    width: 20%;
    margin: 0 auto;
    padding: 0;
}

.header__nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 14px;
}

.header__nav-item {
    text-align: right;
    margin-right: 10px;
}

.header__nav-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header__nav-link:hover {
    color: #007bff;
}

/* Main Content */
main {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0 20px;
}

